
.hr
{
	width: 70%;
	height: 2px;
	margin: 30px auto;
}

ul.share-group
{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	max-width:500px;
}

.share-group li
{
	display: inline-block;
	padding:10px;
}

.copy
{
	padding-top: 0;
	padding-bottom: 30px;
}



#sidebar
{
	position: fixed;
	top: 0;
	bottom: 0;
	right: -300px;
	width: 300px;
	background: #333;
	transition: right 0.5s;
	padding-top: 20px;
}

#sidebar ul
{
	padding: 0;
	list-style: none;
}

#sidebar ul a
{
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	width: 100%;
	display: inline-block;
}

#sidebar ul a:hover
{
	background: #444;
}


.mask
{
	display: none;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
}

.back-to-top
{
	position: fixed;
	bottom: 30px;
	right:30px;
	border:1px solid #888;
	border: none;
	background: #333;
	color: #eee;
	padding: 12px 14px;
}

html, body 
{
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.footer
{
	background: #333;
	color: #fff;
	min-height: 100px;
	text-align: center;
	padding-top: -100px;
}

.post-more-link .btn {
    color: #fff;
    font-size: 14px;
    background: #222;
    border-radius: 0;
    line-height: 2;
    display: inline-block;
    padding: 0 20px;
    border: 2px solid #222;
    text-decoration: none;
    transition-property: color,background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.post-more-link .btn:hover
{
	color: #222;
    background: #fff;
}

.post-more-link
{
	margin-top: 30px;
	text-align: center;
}
.mypost-meta{
	text-align: center;
	margin: 3px 0 30px 0;
	color: #999;
	font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
	font-size: 12px;
}

